/* Custom formats on Wheelzo */
th.origin, th.destination {
    width: 30%;
} 

th.departure {
    width: 25%;
}

th.price {
    width: 15%;
}

th.ninja-header {
    display: none;
}

td.ninja-field {
    display: none;
}

div#lookup-reviews {
    margin-top: 15px;
    max-height: 210px;
    overflow-y: scroll; 
}
 
img#driver-picture, img#lookup-picture {
    width: 100%;
    max-width: 150px;
}

div#introduction-container {
    margin-top: -20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

div.table-responsive {
    border: none;
}

div#passenger-box {
    min-height: 50px;
}

div.payment-message {
    margin: 20px auto;
}

img.greyed-out {
    opacity: 0.5;
}

img#passenger-picture {
    width: 75%;
    max-width: 75px;
    opacity: 0.5;
}

img#passenger-picture.hoverable:hover {
    opacity: 0.9;
}

img#reviewer-picture {
    max-width: 50px;
    opacity: 0.5;
}

img#reviewer-picture.hoverable:hover {
    opacity: 0.9;
}

img.brand-logo {
    width: 100%;
    max-width: 150px;
}

img.brand {
    position:relative;
    top:-15px;
    max-width: 50px;
}

input#search-origin, input#search-destination {
    width: 100%;
}

div#personal-profile header.jumbotron {
    padding: 20px 60px;
}

div.faq-box {
    padding: 10px 40px;
}

div.faq-box strong {
    cursor: pointer;
}

div.faq-box p {
    display: none;
    padding-top: 10px;
    padding-right: 88px;
    text-align: justify;
}

textarea {
    resize: vertical;
}

.popover{
    min-width: 275px ! important;
}

@media(max-width:767px){
    div#introduction {
        display: none;
    }
}

@media(min-width:768px){
    div#search-box {
        width:230px;
    }
}

@media(min-width:992px){
    div#search-box {
        width:420px;
    }

    div#search-box div.row div.col-md-6#search-origin-box {
        padding-right: 2.5px;
    }

    div#search-box div.row div.col-md-6#search-destination-box {
        padding-left: 2.5px;
    }
}

@media(min-width:1200px){
    div#search-box {
        width:600px;
    }

    div#search-box div.row div.col-md-6#search-origin-box {
        padding-right: 2.5px;
    }

    div#search-box div.row div.col-md-6#search-destination-box {
        padding-left: 2.5px;
    }
}


/**************************** 
    EXTERNAL REFERENCES 
****************************/

/* Input boxes with icons inside */
.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;    
}

.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

/* Single lined qtips that don't wrap */
.nowrap, .nowrap .qtip-content{
    white-space: nowrap;
    max-width: none;
}

/* Sortable icons beside table headers */
th.sorting_asc:before {
    content: "\f0d8";
    font-family: FontAwesome;
}

th.sorting_desc:before {
    content: "\f0d7";
    font-family: FontAwesome;
}

/* Hides the useless information in timepicker */
dt.ui_tpicker_time_label {
    display: none;
}

dd.ui_tpicker_time {
    display: none;
}

/* Navbar styles */
.navbar {
    border-radius: 0px;
}

/* Generated by - http://smarchal.com/twbscolor */
.navbar-default {
    background-color: #EEE;
    background-image: none;
}
.navbar-default .navbar-brand {
    color: #333;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #8e44ad;
}
.navbar-default .navbar-text {
    color: #333;
}
.navbar-default .navbar-nav > li > a {
    color: #333;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8e44ad;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #8e44ad;
    background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #8e44ad;
    background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
    border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-default .navbar-link {
    color: #333;
}
.navbar-default .navbar-link:hover {
    color: #8e44ad;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #8e44ad;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #8e44ad;
        background-color: #8e44ad;
    }
}