a.logo {
	margin-top: 0px;
}

img.brand {
    position:relative;
    max-width: 60px;
    left: 5px;
} 

.btn-wheelzo {
	background: #702B90;
	color: whitesmoke;
	border: none;
}

.modal-header button.close {
	color: whitesmoke;
}

img#reviewer-picture {
    max-width: 50px;
    opacity: 0.5;
}

div#lookup-reviews {
    margin-top: 15px;
    max-height: 210px;
    overflow-y: scroll; 
}
 
img#driver-picture, img#lookup-picture {
    width: 100%;
    max-width: 150px;
}

img#passenger-picture {
    width: 75%;
    max-width: 75px;
}

div#passenger-box {
    min-height: 50px;
}

div.payment-message {
    margin: 20px auto;
}

#toast-container div {
    opacity: 0.98;
}

table[show-meridian] tbody tr:first-of-type,
table[show-meridian] tbody tr:last-of-type {
    display: none;
}

ul[datepicker-popup-wrap] {
    min-width: 250px;
}

.tooltip-inner {
    max-width: none;
}